.exploreButton {
    padding: 10px 20px;
    cursor: pointer;
    background: #0097fb;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
   
  }
  
  .trendingProducts {
    padding: 80px;
    background-color: #e9e6e6;
    padding-top:10px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
  }
  .userContainer {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
  }
  
  .userIcon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 50%;
    object-fit: cover;
  }
  